<!doctype html>
<html lang="pt-br">

<head>

	<title>Rede+Cientistas ::: Registro</title>
	<link rel="icon" th:href="@{/image/favicon.ico}" />
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="description" content="Rede Social para Cientistas" />
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
		integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/profile.css" type="text/css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">


</head>

<body>

	<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand pr-3 border-right" href="#"><img id="imgNavbar" src="/css/img/logo.png">
			Rede+Cientistas</a>
		<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
		

			<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
				<li class="nav-item active">
					<a class="nav-link" href="/profileMember/<%= email %>">Home <span
							class="sr-only">(current)</span></a>
				</li>
				
				<li class="nav-item">
					<a class="nav-link" href="/profileMember/<%= email %>/edit">Editar Perfil <span
							class="sr-only"></span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/profileMember/<%= email %>/friends">Conexões<span
							class="sr-only"></span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/profileMember/<%= email %>/Pesquisadores">Sugestões<span
							class="sr-only"></span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/profileMember/<%= email %>/publicacoes">Publicações<span
							class="sr-only"></span></a>
				</li>
				
			</ul>
			<form action="/profileMember/<%= email %>/search/" method="get" role="form" class="form-inline my-2 my-lg-0">
				<input class="form-control mr-sm-2" type="search"  class="query" name="query" placeholder="Search">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
			</form>
			<ul class="navbar-nav  mt-2 mt-lg-0">
				<li class="nav-item">
					<a class="nav-link" href="/">Logout<span
						class="sr-only"></span></a>
				</li>
			</ul>
		</div>

	</nav>
<div class="container-fluid">
	<div class="row h-100">
		<div class="col-8 h-100 border-right">
			<h2 class="display-4 text-center py-4">Timeline</h2>
			<% if (publs.length > 0) { %>
				<h1 class="my-3 text-center"> Minhas Publicações</h1>
				<% } %>
				<% publs.forEach(function(publ){ %>
				<div class="card shadow mb-5 mx-4">
	
					<div class="card-body">
						<div class="card mb-3">
							<div class="card-header">
								<div class="card-title">
									<h1><%= publ.publTitle %></h1>
								</div>
							</div>
							<div class="card-body">
								<%= publ.publText %>
	
								<p class="mt-5 mb-1">Local de Publicação: <%= publ.local %></p>
								<p class="mt-2 mb-1">Ano de Publicação: <%= publ.ano %></p>
								<p class="mt-2 mb-1">Palavras Chave: <%= publ.tags %></p>
	
								<p class="mt-2 mb-1">URL: <a href='https://<%= publ.url %>'><%= publ.url %></a></p>
								<p class="mt-2 mb-1">Autor: <%= publ.authorName %></p>
							</div>
							<div class="card-footer row">
								<div class="col-md-auto my-2">
									<button class="btn btn-dark "><a style="color: white" href="/image/<%= publ.arquivo %>"
											download><i class="fas fa-arrow-circle-down pr-2"></i>
											<%= publ.arquivo %></a></button>
								</div>
								<div class="col-md-auto">
									<% if (publ.likes.includes(email)) { %>
										<form action="/profileMember/<%= email %>/publ/<%= publ.id %>/dislike?_method=PUT"
											method="POST">
											<input type="text" id="publ[id]" name="publ[id]" class="form-control" style="display:none"
												value="<%= publ.id %>">
											<button type="submit" action="" class="btn btn-primary m-2"><i
													class="far fa-thumbs-down "></i></button>
										</form>
										
									<% } else {%>
										
										<form action="/profileMember/<%= email %>/publ/<%= publ.id %>/like?_method=PUT"
											method="POST">
											<input type="text" id="publ[id]" name="publ[id]" class="form-control" style="display:none"
												value="<%= publ.id %>">
											<button type="submit" action="" class="btn btn-primary m-2"><i
													class="far fa-thumbs-up "></i></button>
										</form>
									<% } %>
								</div>
								
								<div class="col-md-auto ">
									<p class=" my-3 text-right"><i
											class="fas fa-thumbs-up mr-4"></i><%= publ.likes.length %></p>
								</div>
	
							</div>
	
	
	
						</div>
					</div>
				</div>
				<% }); %>

			<% posts.forEach(function(post){ %>
			<div class="card shadow mb-5 mx-4">
				<div class="card-body">
					<div class="media">
						<% user.forEach(function(user){ %>
						<img src="<%= user.image %>"
							class="align-self-center mr-4 shadow rounded-circle timeline-profile-image" alt="">
						<div class="media-body">
							<h5 class="mt-0 mb-0"><%= user.name %></h5>
							<p style="font-size: 0.8em;">
								<%= post.created.toDateString()+" - "+ (post.created.toTimeString()).substring(0,9) %>
							</p>
							<p contenteditable="false" id="post[text]" name="post[text]" class="mb-0">
								<%= post.postText %></p>
							<label class="mt-5"><i class="fas fa-thumbs-up mr-2"></i><%= post.likes.length %></label>
						</div>
						<div class="d-flex flex-column">

							<% if (post.likes.indexOf(email)) { %>
								<form action="/profileMember/<%= email %>/like/<%= post.id %>?_method=PUT" method="POST">
									<input type="text" id="post[id]" name="post[id]" class="form-control" style="display:none"
										value="<%= post.id %>">
									<button type="submit" action="" class="btn btn-primary m-2"><i
											class="far fa-thumbs-up "></i></button>
								</form>
							<% } else {%>
								<form action="/profileMember/<%= email %>/dislike/<%= post.id %>?_method=PUT" method="POST">
									<input type="text" id="post[id]" name="post[id]" class="form-control" style="display:none"
										value="<%= post.id %>">
									<button type="submit" action="" class="btn btn-primary m-2"><i
											class="far fa-thumbs-down "></i></button>
								</form>
							<% } %>

							<% }); %>
						</div>
					</div>
				</div>
			</div>
			<% }); %>



		</div>


		<div class="col-4 h-100">
			<h2 class="display-4 text-center py-4">Perfil</h2>
			<div class="card py-5">
				<% user.forEach(function(user){ %>
					<div class="card-body d-flex flex-column">
						<img src="<%= user.image %>" class="align-self-center shadow rounded-circle profile-image" alt="">
						<h4 id="username" name="username" class="text-center py-2"><%= user.name %></h4>
						<p id="idade" class="text-center m-0"><%= user.age %></p>
						<p id="cidade-estado" class="text-center m-0"><%= user.city %>,<%= user.state %></p>
						<p id="nivel-curso" class="text-center m-0"><%= user.formacao %> <%= user.course %></p>
						<p id="universidade" class="text-center m-0"><%= user.university %></p>
						<% if (user.inicDados) { %>
							<% var data = user.inicDados %>
							<% var datac = moment(data).format("DD/MM/YYYY") %>
							<p id="inic-dados" class="text-center m-0">Começou a estudar Ciência de dados em <%= datac %> em <%= user.instPesquisa %></p>
							<% }; %>
						<h3 id="followers" class="text-center pt-2"><%= followers %> Seguidores</h3>
						<h3 id="interessesTitle" class="text-center pt-2">Interesses</h3>
						<label id="interesses" class="text-center pt-2 " ><%= user.personalInterest %></label>	
						<a href="<%= user.curriculum %>" class="text-center"><label id="Curriculum Lates" class="text-center m-0"></label>Visitar Curriculo</a>
						<div style="display: none;"><%= userid = user._id %>
							<% userFriends = user.friends %></div>
					</div>
					<% }); %>
			</div>

		</div>
	</div>
</div>



<!-- Fonts Awesome -->
<script src="https://kit.fontawesome.com/3741ec6fe2.js" crossorigin="anonymous"></script>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
	integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
	crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
	integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
	crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
	integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
	crossorigin="anonymous"></script>


</body>

</html>