<%- include('partials/header-pesquisadores') -%>
<div class="container-fluid">
    <h3 class="display-3 text-center mb-5">Sugestões</h3>
    <div class="row h-100">
        <% user.forEach(function(user){ %>
            <% userFriends = user.friends %>
        <% }); %>
        <% users.forEach(function(user){ %>
        <div class="col-3 h-100 border-right">
            <div class="card shadow mb-5 mx-4">
                <div class="card-body" style="height: 490px;">
                    <img src="<%= user.image %>" class=" mx-auto d-block shadow rounded-circle profile-image mb-3"
                        style="width:200px;" alt="">
                    
                    <h4 id="username" name="username" class="text-center py-2"><%= user.name %></h4>
                    <p id="email" name="email" class="text-center m-0"><%= user.email %></p>
                    <p id="idade" class="text-center m-0"><%= user.age %></p>
                    <p id="cidade-estado" class="text-center m-0"><%= user.city %>,<%= user.state %></p>
                    <p id="nivel-curso" class="text-center m-0">Graduado em <%= user.course %></p>
                    <p id="universidade" class="text-center m-0"><%= user.university %></p>
                    <form action="/profile/<%= email %>/friends/<%= user.email %>/follow?_method=PUT" method="POST">
                        <button type="submit" class="btn mx-auto d-block btn-primary m-2">Seguir</button>
                    </form>
                </div>
            </div>
        </div>
        <% }); %>
    </div>
</div>

<!-- Fonts Awesome -->
<script src="https://kit.fontawesome.com/3741ec6fe2.js" crossorigin="anonymous"></script>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
</body>

</html>