<!doctype html>
<html lang="pt-br">

<head>

	<title>Rede+Cientistas ::: Perfil</title>
	<link rel="icon" th:href="@{/image/favicon.ico}" />
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="description" content="Rede Social para Cientistas" />
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
		integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/profile.css" type="text/css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
	<script src="/js/cidades-estados.js"></script>

</head>

<body>

	<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand pr-3 border-right" href="#"><img id="imgNavbar" src="/css/img/logo.png"> Rede+Cientistas</a>
		<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
			<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
				<% user.forEach(function(user){ %>
				<li class="nav-item">
					<a class="nav-link" href="/profile/<%= user.email %>">Home <span class="sr-only"></span></a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="/profile/<%= user.email %>/edit">Editar Perfil <span class="sr-only">(current)</span></a>
					
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/profile/<%= user.email %>/friends">Conexões<span
							class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/profile/<%= useremail %>/Pesquisadores">Sugestões<span
							class="sr-only"></span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/profile/<%= useremail %>/Publicacoes">Publicações<span
							class="sr-only"></span></a>
				</li>
				<% }); %>
			</ul>
			<form action="/profile/<%= useremail %>/search/" method="get" role="form" class="form-inline my-2 my-lg-0">
				<input class="form-control mr-sm-2" type="search"  class="query" name="query" placeholder="Search">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
			</form>
		</div>

	</nav>
<div class="container-fluid">
    <div class="row h-100">
        <div class="col-2"></div>
        <div class="col-8 h-100">
            <div class="card py-5 row justify-content-center">

                <% user.forEach(function(user){ %>
                <% post.forEach(function(post){ %>
                <form class="form-horizontal" style="margin:auto; width:60%" role="form" action="/profileMember/<%= user.email %>/post/<%= post.id %>/edit?_method=PUT" method="POST">
                    <h3 class="display-4 text-center py-4">EDITAR POST</h3>
                    <textarea contenteditable="true" id="post[postText]" name="post[postText]" class="form-control mb-4" style="min-height: 200px;" value="<%= post.postText %>"><%= post.postText %></textarea>
                    
                    <button type="submit" class=" btn btn-primary"><i id="btnSaveImage" class="fas fa-save"></i>  Salvar</button>
                </form>
                <% }); %>
                <% }); %>
            </div>

        </div>
    </div>
</div>

<!-- Fonts Awesome -->
<script src="https://kit.fontawesome.com/3741ec6fe2.js" crossorigin="anonymous"></script>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
</body>

</html>